@model SurveyMVCLogin1.Models.Survey

@{
    ViewBag.Title = "Details";

    string dateStr = "";
    string displayDateStr = "";

    dateStr = Model.StartTime;
    displayDateStr = dateStr.Substring(0, 4) + "-" + dateStr.Substring(4, 2) + "-" + dateStr.Substring(6, 2) + " " + dateStr.Substring(8, 2) + ":" + dateStr.Substring(10, 2);
}

<style>
    dt {
        margin-top: 16px;
    }

    dd {
        margin-top: 6px;
        margin-left: 20px;
    }
</style>

<br />
<div>
    <p>
        @Html.ActionLink("Back to List", "Index") |
        <a id="cmd" href="#">Generate Survey Record</a> |
        <a id="cmd2" href="#">Generate User Report</a>
    </p>
</div>

<div id="target">
    <h2>Survey Record</h2>
    <hr />
    <p>提交时间： @*Html.DisplayFor(model => model.StartTime)*@ @Html.Raw(displayDateStr) </p>
    <p>姓名： @Html.DisplayFor(model => model.S1Q1Answer)</p>
    <p>电话： @Html.DisplayFor(model => model.S1Q17Answer)</p>
    <p>邮箱： @Html.DisplayFor(model => model.S1Q18Answer)</p>
    <p>微信： @Html.DisplayFor(model => model.S1Q19Answer)</p>
    <hr />
    
    <dl>
        <h3>基本信息</h3>
        <dt>
            出生年份
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S1Q2Answer)
        </dd>

        <dt>
            取得本科学位的国家
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S1Q3Answer)
        </dd>

        <dt>
            本科院校
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S1Q4Answer)
        </dd>

        <dt>
            本科专业
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S1Q5Answer)
        </dd>

        <dt>
            取得硕士学位的国家
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S1Q6Answer)
        </dd>

        <dt>
            硕士院校名称
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S1Q7Answer)
        </dd>

        <dt>
            硕士专业
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S1Q8Answer)
        </dd>

        <dt>
            取得博士学位的国家
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S1Q9Answer)
        </dd>

        <dt>
            博士院校名称
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S1Q10Answer)
        </dd>

        <dt>
            博士专业
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S1Q11Answer)
        </dd>

        <dt>
            现/最近工作单位
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S1Q12Answer)
        </dd>

        <dt>
            工作经验
        </dt>

        <dd>
            
            @if (@Model.S1Q13Answer == "exp1")
            {
                @Html.Raw("一年以内")
            }
            else if (@Model.S1Q13Answer == "exp2")
            {
                @Html.Raw("一到三年")
            }
            else if (@Model.S1Q13Answer == "exp3")
            {
                @Html.Raw("三年以上")
            }
            else
            {
                @Html.DisplayFor(model => model.S1Q13Answer)
            }

        </dd>

        <dt>
            工作是否与英国相关
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S1Q14Answer)
        </dd>

        <dt>
            工作职位
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S1Q15Answer)
        </dd>

        <dt>
            在英国停留累计时间
        </dt>

        <dd>

            @if (@Model.S1Q16Answer == "time1")
            {
                @Html.Raw("半年以内")
            }
            else if (@Model.S1Q16Answer == "time2")
            {
                @Html.Raw("半年到一年")
            }
            else if (@Model.S1Q16Answer == "time3")
            {
                @Html.Raw("一年到三年")
            }
            else if (@Model.S1Q16Answer == "time4")
            {
                @Html.Raw("三年以上")
            }
            else
            {
                @Html.DisplayFor(model => model.S1Q16Answer)
            }

        </dd>
    
        <hr />

        <h3>签证知识测试</h3>

        <dt>
            1. 您申请企业家移民的主要目的是？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S2Q1Answer)
        </dd>

        <dt>
            2. 我可以与其它人以合伙人的方式申请签证吗？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S2Q2Answer)
        </dd>

        <dt>
            3. 对您的英文要求？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S2Q3Answer)
        </dd>

        <dt>
            4. 企业家移民要求的最低投资金额是多少？(以英镑位单位)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S2Q4Answer)
        </dd>

        <dt>
            5. 企业家移民签证的主申请人是否可以为他人工作？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S2Q5Answer)
        </dd>

        <dt>
            6. 我可以带家人来英国吗？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S2Q6Answer)
        </dd>

        <dt>
            7. 您知道2017年有多少来自中国的企业家移民申请被接受吗？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S2Q7Answer)
        </dd>

        <dt>
            8. 我可以加入一家现有的企业吗？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S2Q8Answer)
        </dd>

        <dt>
            9. 3年内需要雇佣多少员工才能符合续签的要求？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S2Q9Answer)
        </dd>

        <dt>
            10. 资金证明的主要要求是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S2Q10Answer)
        </dd>

        <hr />

        <h3>英国商业知识测试</h3>

        <dt>
            1. 英国的 VAT 税率是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S3Q1Answer)
        </dd>

        <dt>
            2. 在英国开公司需要买保险吗？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S3Q2Answer)
        </dd>

        <dt>
            3. 有关员工每小时最低工资，下面哪个数据是合法的最低数据？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S3Q3Answer)
        </dd>

        <dt>
            4. 聘请一位有3年工作经验的项目开发经理需要支付的薪水是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S3Q4Answer)
        </dd>

        <dt>
            5. 在伦敦市中心 zone2 范围内可供4人用的办公室一个月的租金是多少钱？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S3Q5Answer)
        </dd>

        <dt>
            6. 员工年收入两万四千英镑应纳税工资部分缴纳比例是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S3Q6Answer)
        </dd>

        <dt>
            7. 您是否咨询过移民律师或类似的企业家签证持有人？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S3Q7Answer)
        </dd>

        <dt>
            8. 聘请使用会计服务的普遍价位是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S3Q8Answer)
        </dd>

        <dt>
            9. 每年作为中小企业雇主自由保险费用多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S3Q9Answer)
        </dd>

        <dt>
            10. 你理解在英国董事和股东之间的区别吗？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S3Q10Answer)
        </dd>

        <hr />
        
        <h3>英国创业项目测试 - 独立创业</h3>

        <dt>
            @*Html.DisplayNameFor(model => model.S4aQ22Answer)*@
            1. 提交什么签证？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ1Answer)
        </dd>

        <dt>
            2. 为什么提交这个签证？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ2Answer)
        </dd>

        <dt>
            3. 为什么在英国创业？是否考虑过其他国家市场？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ3Answer)
        </dd>

        <dt>
            4. 是否在英国已经注册了公司？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ4Answer)
        </dd>

        <dt>
            5. 经营场所的邮政编码是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ5Answer)
        </dd>

        <dt>
            6. 经营场所租金一年多少钱？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ6Answer)
        </dd>

        <dt>
            7. 商业模式是什么？(最多三句话，限制字数50字以内)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ7Answer)
        </dd>

        <dt>
            8. 商业短期，中期，长期的发展规划，目标是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ8Answer)
        </dd>

        <dt>
            9. 有没有做过市场调查？调查方式是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ9Answer)
        </dd>

        <dt>
            10. 市场调查的结果是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ10Answer)
        </dd>

        <dt>
            11. 是否打算雇佣员工？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ11Answer)
        </dd>

        <dt>
            12. 什么时候雇佣员工？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ12Answer)
        </dd>

        <dt>
            13. 雇佣的员工职位是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ13Answer)
        </dd>

        <dt>
            14. 聘请的标准是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ14Answer)
        </dd>

        <dt>
            15. 招聘方法是什么？从哪里招聘？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ15Answer)
        </dd>

        <dt>
            16. 招聘成本是多少钱？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ16Answer)
        </dd>

        <dt>
            17. 雇佣员工的工资是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ17Answer)
        </dd>

        <dt>
            18. 有无潜在客户？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ18Answer)
        </dd>

        <dt>
            19. 有无已开始或进行中的项目？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ19Answer)
        </dd>

        <dt>
            20. 第一年盈利预计是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ20Answer)
        </dd>

        <dt>
            21. 第一年预计成本是多少？
        </dt>
            
        <dd>
            @Html.DisplayFor(model => model.S4aQ21Answer)
        </dd>

        <dt>
            22. 第一年营销成本是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ22Answer)
        </dd>

        <dt>
            23. 第一年客户数是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ23Answer)
        </dd>

        <dt>
            24. 第二年盈利预计是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ24Answer)
        </dd>

        <dt>
            25. 第二年预计成本是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ25Answer)
        </dd>

        <dt>
            26. 第二年营销成本是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ26Answer)
        </dd>

        <dt>
            27. 第二年客户数是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ27Answer)
        </dd>

        <dt>
            28. 第三年盈利预计是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ28Answer)
        </dd>

        <dt>
            29. 第三年预计成本是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ29Answer)
        </dd>

        <dt>
            30. 第三年营销成本是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ30Answer)
        </dd>

        <dt>
            31. 第三年客户数是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ31Answer)
        </dd>

        <dt>
            32. 如果是贸易类，平均毛利率是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ32Answer)
        </dd>

        <dt>
            33. 税前利润是多少？税后利润是多少？ （3年数据）
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ33Answer)
        </dd>

        <dt>
            34. 竞争对手有多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ34Answer)
        </dd>

        <dt>
            35. 竞争对手的核心优势是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ35Answer)
        </dd>

        <dt>
            36. 你的商业核心竞争优势是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ36Answer)
        </dd>

        <dt>
            37. 你有没有合伙人？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ37Answer)
        </dd>

        <dt>
            38. 合伙人背景是什么？有没有商业经验？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ38Answer)
        </dd>

        <dt>
            39. 打算投资多少钱？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ39Answer)
        </dd>

        <dt>
            40. 投资计划花在那些方面？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ40Answer)
        </dd>

        <dt>
            41. 什么时候公司总体盈利？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ41Answer)
        </dd>

        <dt>
            42. 您是否给公司购买了商业保险？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ42Answer)
        </dd>

        <dt>
            43. 你购买了什么类型的商业保险？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ43Answer)
        </dd>

        <dt>
            44. 商业保险一年多少钱？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ44Answer)
        </dd>

        <dt>
            45. 公司是否注册了VAT？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ45Answer)
        </dd>

        <dt>
            46. VAT 的FULL NAME是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ46Answer)
        </dd>

        <dt>
            47. VAT税率是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ47Answer)
        </dd>

        <dt>
            48. 营业税的税率是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ48Answer)
        </dd>

        <dt>
            49. 会计公司的名字，联系人的名字？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ49Answer)
        </dd>

        <dt>
            50. 会计服务一年多少钱？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ50Answer)
        </dd>

        <dt>
            51. 您的最高学历是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ51Answer)
        </dd>

        <dt>
            52. 所学专业是否和创业思路相关联或者有帮助？简单阐述，如果有
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ52Answer)
        </dd>

        <dt>
            53. 上一次进入英国是什么时候？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ53Answer)
        </dd>

        <dt>
            54. 是否在在英国有过工作经验？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ54Answer)
        </dd>

        <dt>
            55. 最近三年是否常驻英国或来过英国多少次？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ55Answer)
        </dd>

        <dt>
            56. 资金来源是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ56Answer)
        </dd>

        <dt>
            57. 如果是赠与，赠与人的工作单位是什么？年薪多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ57Answer)
        </dd>

        <dt>
            58. 如果商业失败怎么办？ 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ58Answer)
        </dd>

        <dt>
            59. 你打算居住在哪里？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ59Answer)
        </dd>

        <dt>
            60. 一年的生活成本是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ60Answer)
        </dd>

        <dt>
            61. 有没有家属同行？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ61Answer)
        </dd>

        <dt>
            62. 配偶是否打算来英国工作？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ62Answer)
        </dd>

        <dt>
            63. 未满18岁子女是否来英国上学？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4aQ63Answer)
        </dd>

        <hr />

        <h3>英国创业项目测试 - 加入创业</h3>

        <dt>
            1. 本测试涉及的英国签证类型是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ1Answer)
        </dd>

        <dt>
            2. 提交的什么签证？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ2Answer)
        </dd>

        <dt>
            3. 为什么提交这个签证？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ3Answer)
        </dd>

        <dt>
            4. 为什么在英国创业？是否考虑过其他国家市场？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ4Answer)
        </dd>

        <dt>
            5. 现有企业的商业模式是什么？（最多三句话，限制字数50字以内）
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ5Answer)
        </dd>

        <dt>
            6. 商业短期，中期，长期的发展规划，目标是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ6Answer)
        </dd>

        <dt>
            7. 有没有做过市场调查？调查方式是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ7Answer)
        </dd>

        <dt>
            8. 市场调查的结果是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ8Answer)
        </dd>

        <dt>
            9. 为什么要加入一个企业创业？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ9Answer)
        </dd>

        <dt>
            10. 加入的企业叫什么名字？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ10Answer)
        </dd>

        <dt>
            11. 如何找到的加入企业？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ11Answer)
        </dd>

        <dt>
            12. 加入企业现有股东几个？董事几个？持股比例分别是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ12Answer)
        </dd>

        <dt>
            13. 经营场所的邮政编码是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ13Answer)
        </dd>

        <dt>
            14. 经营场所租金一年多少钱？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ14Answer)
        </dd>

        <dt>
            15. 招聘方法是什么？从哪里招聘？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ15Answer)
        </dd>

        <dt>
            16. 招聘成本是多少钱？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ16Answer)
        </dd>

        <dt>
            17. 加入的企业负责人的基本背景是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ17Answer)
        </dd>

        <dt>
            18. 是否见过负责人，上一次见是什么时候？交谈内容主要是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ18Answer)
        </dd>

        <dt>
            19. 企业目前现有员工多少人？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ19Answer)
        </dd>

        <dt>
            20. 企业成立年份？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ20Answer)
        </dd>

        <dt>
            21. 企业过去两年的营业额及利润率是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ21Answer)
        </dd>

        <dt>
            22. 如果亏损，为什么要投资一个现在亏损的企业？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ22Answer)
        </dd>

        <dt>
            23. 如果盈利，企业为什么吸收你的20万英镑投资？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ23Answer)
        </dd>

        <dt>
            24. 投资20万英镑，你占有的股份比例是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ24Answer)
        </dd>

        <dt>
            25. 如果是董事借款，借款的条款是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ25Answer)
        </dd>

        <dt>
            26. 如果是股份比例，为什么占有这个比例？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ26Answer)
        </dd>

        <dt>
            27. 企业的估值方法是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ27Answer)
        </dd>

        <dt>
            28. 你加入企业后，主要负责什么，主要职位是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ28Answer)
        </dd>

        <dt>
            29. 加入企业后，你是否有工资？如果有，多少钱？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ29Answer)
        </dd>

        <dt>
            30. 是否打算新增雇佣员工？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ30Answer)
        </dd>

        <dt>
            31. 什么时候计划雇佣新员工？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ31Answer)
        </dd>

        <dt>
            32. 雇佣的员工职位是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ32Answer)
        </dd>

        <dt>
            33. 招聘的标准是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ33Answer)
        </dd>

        <dt>
            34. 招聘方法是什么？从哪里招聘？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ34Answer)
        </dd>

        <dt>
            35. 招聘成本是多少钱？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ35Answer)
        </dd>

        <dt>
            36. 雇佣员工的工资是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ36Answer)
        </dd>

        <dt>
            37. 如果是贸易类，平均毛利率是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ37Answer)
        </dd>

        <dt>
            38. 税前利润是多少？税后利润是多少？ （3年数据）
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ38Answer)
        </dd>

        <dt>
            39. 竞争对手有多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ39Answer)
        </dd>

        <dt>
            40. 竞争对手的核心优势是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ40Answer)
        </dd>

        <dt>
            41. 你的商业核心竞争优势是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ41Answer)
        </dd>

        <dt>
            42. 企业是否购买了保险？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ42Answer)
        </dd>

        <dt>
            43. 企业购买了什么类型的保险？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ43Answer)
        </dd>

        <dt>
            44. 保险一年多少钱？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ44Answer)
        </dd>

        <dt>
            45. 公司是否注册了 VAT？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ45Answer)
        </dd>

        <dt>
            46. VAT 的 FULL NAME 是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ46Answer)
        </dd>

        <dt>
            47. VAT 税率是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ47Answer)
        </dd>

        <dt>
            48. 营业税的税率是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ48Answer)
        </dd>

        <dt>
            49. 会计公司的名字，联系人的名字？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ49Answer)
        </dd>

        <dt>
            50. 会计服务一年多少钱？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ50Answer)
        </dd>

        <dt>
            51. 您的最高学历是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ51Answer)
        </dd>

        <dt>
            52. 所学专业是否和创业思路相关联或者有帮助？ 简单阐述，如果有
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ52Answer)
        </dd>

        <dt>
            53. 上一次进入英国是什么时候？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ53Answer)
        </dd>

        <dt>
            54. 是否在英国有过工作经验？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ54Answer)
        </dd>

        <dt>
            55. 是否此工作经验与申请加入企业相关？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ55Answer)
        </dd>

        <dt>
            56. 资金来源是什么？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ56Answer)
        </dd>

        <dt>
            57. 如果是父母赠与，父母的工作单位是什么，年薪多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ57Answer)
        </dd>

        <dt>
            58. 如果商业失败怎么办？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ58Answer)
        </dd>

        <dt>
            59. 你打算居住在哪里？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ59Answer)
        </dd>

        <dt>
            60. 一年的生活成本是多少？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ60Answer)
        </dd>

        <dt>
            61. 有没有家属同行？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ61Answer)
        </dd>

        <dt>
            62. 配偶是否打算来英国工作？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ62Answer)
        </dd>

        <dt>
            63. 未满18岁子女是否来英国上学？
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S4bQ63Answer)
        </dd>
    </dl>
</div>

<div id="target2" style="display:none">
    <hr />
    <p>测试 1 - 3 得分：</p>
    <p>您的基本信息测试得分是 @ViewBag.Section1Score 分 (满分80分)</p>
    <p>您的签证知识测试得分是 @ViewBag.Section2Score 分 (满分100分)</p>
    <p>您的英国商业知识测试得分是 @ViewBag.Section3Score 分 (满分100分)</p>
    <hr />
    <p>测试总结：</p>
    <p>@ViewBag.Section3Message</p>
</div>