@model IEnumerable<SurveyMVCLogin1.Models.Survey>

@{
    ViewBag.Title = "Index";
}
<!--p>
    @Html.ActionLink("Create New", "Create")
</p-->
<table class="table" style="margin-top: 30px;">
    <tr>
        <th>
            提交时间
        </th>
        <th>
            姓名
        </th>
        <th>
            在英时间
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.S1Q1Answer)
        </td>
        <td>
            @if (@item.S1Q13Answer.Trim() == "time1")
            {
                @Html.Raw("半年以内")
            }
            else if (@item.S1Q13Answer.Trim() == "time2")
            {
                @Html.Raw("半年到一年")
            }
            else if (@item.S1Q13Answer.Trim() == "time3")
            {
                @Html.Raw("一年到三年")
            }
            else if (@item.S1Q13Answer.Trim() == "time4")
            {
                @Html.Raw("三年以上")
            }
            else
            {
                @Html.DisplayFor(modelItem => item.S1Q13Answer)
            }
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.SurveyID })
        </td>
    </tr>
}

</table>
